Repository open-edge-platform/infra-onboarding, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, dkam, hook-os, onboarding-manager, tinker-actions

Dkam:Use ena manifest from edge node agent repo (#150)
  dkam/VERSION
  dkam/internal/dkammgr/dkammgr.go
  dkam/pkg/config/config.go
  dkam/pkg/config/config_test.go
  dkam/pkg/curation/curation.go
  dkam/testing/testing_utils.go
Labels: dkam

onbordaing manager:Updated dkam dep 1.24.0 (#190)
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
Labels: onboarding-manager

Rename OS partition tinker action (#182)
  onboarding-manager/VERSION
  onboarding-manager/internal/tinkerbell/status.go
  onboarding-manager/internal/tinkerbell/template.go
  onboarding-manager/internal/tinkerbell/template_data.go
  tinker-actions/README.md
  tinker-actions/VERSION
  tinker-actions/src/emt_partition/Dockerfile
  tinker-actions/src/emt_partition/emt_part.sh
Labels: onboarding-manager, tinker-actions

Add kernel build and embed in hook OS (#183)
  hook-os/Makefile
  hook-os/README.md
  hook-os/VERSION
  hook-os/build_hookos.sh
  hook-os/config.template
  hook-os/hook/bash/kernel/kernel_default.sh
  hook-os/hook/kernel/Dockerfile
Labels: hook-os

Fix correct exit code for failure in HookOS build (#193)
  hook-os/.gitignore
  hook-os/Makefile
  hook-os/VERSION
Labels: hook-os

fix kernel image push (#194)
  hook-os/Makefile
Labels: hook-os

Address critical CVE captured by dependabot (#188)
  hook-os/VERSION
  hook-os/hook/images/hook-bootkit/go.mod
  hook-os/hook/images/hook-bootkit/go.sum
Labels: hook-os

Add Open Source notice (#79)
  hook-os/CHANGELOG.md
  hook-os/README.md
  hook-os/VERSION
Labels: hook-os

fix error exit flag for hook_dind (#195)
  hook-os/hook_dind/build.sh
Labels: hook-os

Revert token file server 204 HTTP status code handling in all onboarding components (#176)
  hook-os/caddy/caddy_run.sh
  hook-os/device_discovery/client-auth.sh
  hook-os/device_discovery/client-secret-auth.go
Labels: hook-os

Onboarding manager release 1.28.2 (#199)
  onboarding-manager/VERSION
Labels: onboarding-manager

ci: add final stage to capture workflow exit code (#200)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Remove cloud-init workarounds for EMT (#191)
  onboarding-manager/VERSION
  onboarding-manager/internal/tinkerbell/template_data.go
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
Labels: onboarding-manager

Workaround setting also RSTYPE via cloudinit (#201)
  onboarding-manager/VERSION
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
Labels: onboarding-manager

Disable/Enable security feature based on provider config (#170)
  onboarding-manager/VERSION
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server_test.go
  onboarding-manager/internal/invclient/invclient.go
Labels: onboarding-manager

Move netplan settings to cloud-init (#174)
  onboarding-manager/internal/tinkerbell/status.go
  onboarding-manager/internal/tinkerbell/status_test.go
  onboarding-manager/internal/tinkerbell/template_data.go
  onboarding-manager/internal/tinkerbell/template_data_test.go
  onboarding-manager/internal/tinkerbell/template_test.go
  onboarding-manager/pkg/cloudinit/config.go
  onboarding-manager/pkg/cloudinit/generate.go
  onboarding-manager/pkg/cloudinit/generate_test.go
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: onboarding-manager

Add time delay before reboot trigger (#203)
  hook-os/CHANGELOG.md
  hook-os/VERSION
  hook-os/hook/images/hook-docker/main.go
Labels: hook-os

updated code to include erase_non_removable_disks in tiber microvisor (#178)
  onboarding-manager/internal/tinkerbell/template_data.go
Labels: onboarding-manager

Enable Platform bundle (#144)
  onboarding-manager/VERSION
  onboarding-manager/internal/handlers/controller/reconcilers/instance.go
  onboarding-manager/internal/onboarding/types/types.go
  onboarding-manager/internal/onboarding/workflow.go
  onboarding-manager/internal/tinkerbell/status_test.go
  onboarding-manager/internal/tinkerbell/template.go
  onboarding-manager/internal/tinkerbell/template_data.go
  onboarding-manager/internal/tinkerbell/template_data_test.go
  onboarding-manager/internal/tinkerbell/template_test.go
  onboarding-manager/pkg/cloudinit/generate.go
  onboarding-manager/pkg/cloudinit/generate_test.go
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/test-template.cfg
  onboarding-manager/pkg/platformbundle/platformbundle.go
  onboarding-manager/pkg/platformbundle/platformbundle_test.go
Labels: onboarding-manager

ci: add final stage to capture workflow exit code (#204)
  .github/workflows/pre-merge.yml
Labels: CI ðŸ¤–

Remove OS reconciler and move legacy Script to pre-defined path (#154)
  dkam/VERSION
  dkam/cmd/dkammgr/main.go
  dkam/deployments/.keep
  dkam/go.mod
  dkam/go.sum
  dkam/internal/curation/curation.go
  dkam/internal/dkammgr/dkammgr.go
  dkam/internal/dkammgr/dkammgr_test.go
  dkam/internal/handlers/controller/controller.go
  dkam/internal/handlers/controller/controller_test.go
  dkam/internal/handlers/controller/reconcilers/os.go
  dkam/internal/handlers/controller/reconcilers/os_test.go
  dkam/internal/handlers/controller/reconcilers/reconciler.go
  dkam/internal/handlers/controller/reconcilers/reconciler_test.go
  dkam/internal/invclient/common.go
  dkam/internal/invclient/common_test.go
  dkam/internal/invclient/invclient.go
  dkam/internal/invclient/invclient_test.go
  dkam/internal/invclient/invclient_utils_test.go
  dkam/pkg/config/config.go
  dkam/pkg/curation/curation.go
  dkam/pkg/curation/curation_test.go
  dkam/pkg/download/download.go
  dkam/pkg/download/download_test.go
  dkam/pkg/script/Installer
  dkam/pkg/signing/signing.go
  dkam/pkg/signing/signing_test.go
  dkam/pkg/util/util.go
  dkam/test/testdata/example-manifest-internal-rs.yaml
  dkam/testing/testing_utils.go
Labels: dkam

local account ssh changes (#155)
  onboarding-manager/VERSION
  onboarding-manager/internal/handlers/controller/reconcilers/instance.go
  onboarding-manager/internal/handlers/controller/reconcilers/instance_test.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server_test.go
  onboarding-manager/internal/invclient/invclient.go
  onboarding-manager/internal/onboarding/types/types.go
  onboarding-manager/internal/onboarding/workflow.go
  onboarding-manager/internal/tinkerbell/template_data.go
  onboarding-manager/pkg/cloudinit/config.go
  onboarding-manager/pkg/cloudinit/generate.go
  onboarding-manager/pkg/cloudinit/generate_test.go
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
Labels: onboarding-manager

Restore explicit CA cert provisioning for EMT (#205)
  onboarding-manager/VERSION
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
Labels: onboarding-manager

Bumps VERSION to inv 2.20.0 (#207)
  dkam/VERSION
  dkam/go.mod
  dkam/go.sum
  onboarding-manager/go.mod
  onboarding-manager/go.sum
Labels: dkam, onboarding-manager

Release OM v1.30.1 (#208)
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
Labels: onboarding-manager

Rename fde tinker action to enable_security (#213)
  tinker-actions/src/enable_security/Dockerfile
  tinker-actions/src/enable_security/enable_dmv_emt.sh
  tinker-actions/src/enable_security/enable_fde_emt.sh
  tinker-actions/src/enable_security/enable_fde_ubuntu.sh
  tinker-actions/src/enable_security/os_selection.sh
Labels: tinker-actions

Revert "Rename fde tinker action to enable_security" (#215)
  tinker-actions/src/fde/Dockerfile
  tinker-actions/src/fde/enable_dmv_emt.sh
  tinker-actions/src/fde/enable_fde.sh
  tinker-actions/src/fde/enable_fde_emt.sh
  tinker-actions/src/fde/os_selection.sh
Labels: tinker-actions

Fix vgcreate quote syntax error (#214)
  tinker-actions/src/emt_partition/emt_part.sh
Labels: tinker-actions

Remove EMT_partition from WF and add flags for fde tinker action (#212)
  onboarding-manager/VERSION
  onboarding-manager/internal/tinkerbell/status.go
  onboarding-manager/internal/tinkerbell/template_data.go
Labels: onboarding-manager

make tinker action release 1.15.0 (#218)
  tinker-actions/VERSION
Labels: tinker-actions

Clean dep5 (#158)
  dkam/.reuse/dep5
  dkam/VERSION
  dkam/pkg/script/chain.ipxe
  dkam/pkg/script/hook/cpio_build/etc/hook/README.md
  dkam/pkg/script/hook/cpio_build/etc/idp/README.md
  dkam/placeholder.txt
  hook-os/.reuse/dep5
  onboarding-manager/.reuse/dep5
  onboarding-manager/VERSION
Labels: dkam, hook-os, onboarding-manager

Update OM with in-progress status usage (#186)
  onboarding-manager/internal/invclient/invclient_test.go
  onboarding-manager/pkg/status/status.go
Labels: onboarding-manager

Allow branch with / and group dependabot (#206)
  .github/dependabot.yml
  dkam/Makefile
  onboarding-manager/Makefile
  tinker-actions/Makefile
  tinker-actions/VERSION
Labels: CI ðŸ¤–, dkam, onboarding-manager, tinker-actions

Add user accounts for tc-agent and tc-ima in installer script (#202)
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: onboarding-manager

Revert "Remove EMT_partition from WF and add flags for fde tinker act… (#222)
  onboarding-manager/internal/tinkerbell/status.go
  onboarding-manager/internal/tinkerbell/template_data.go
Labels: onboarding-manager

Switch to centralized provider config (#216)
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server_test.go
  onboarding-manager/internal/invclient/invclient.go
Labels: onboarding-manager

Update path for agent_variables (#225)
  onboarding-manager/VERSION
  onboarding-manager/docs/cloud-init-os-compatibility.md
  onboarding-manager/internal/handlers/controller/reconcilers/instance_test.go
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
  onboarding-manager/pkg/platformbundle/README.md
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: onboarding-manager

Initial removal of unapproved words and acronyms (#180)
  README.md
  dkam/Magefile.go
  dkam/README.md
  dkam/go.mod
  dkam/pkg/curation/curation.go
  dkam/pkg/download/download_test.go
  dkam/pkg/script/Installer
  dkam/pkg/script/build_sign_ipxe.sh
  dkam/testing/testing_utils.go
  hook-os/device_discovery/device-discovery.go
  hook-os/hook.yaml
  onboarding-manager/VERSION
  onboarding-manager/cmd/onboardingmgr/main.go
  onboarding-manager/docs/cloud-init-os-compatibility.md
  onboarding-manager/go.mod
  onboarding-manager/internal/handlers/controller/reconcilers/instance.go
  onboarding-manager/internal/handlers/controller/reconcilers/instance_test.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server.go
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/platformbundle/README.md
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
  tinker-actions/src/image2disk/README.md
  tinker-actions/src/qemu_nbd_image2disk/README.md
  tinker-actions/src/writefile/README.md
Labels: root, dkam, hook-os, onboarding-manager, tinker-actions

Delete lint-forbidden-words (#226)
  .github/workflows/lint-forbidden-words.yml
Labels: CI ðŸ¤–

Bumps inv to v2.22.0 - Removes tenant enforcement option in DKAM (#224)
  dkam/VERSION
  dkam/go.mod
  dkam/go.sum
Labels: dkam

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

dkam:
  - changed-files:
    - any-glob-to-any-file: "dkam/**"

hook-os:
  - changed-files:
    - any-glob-to-any-file: "hook-os/**"

onboarding-manager:
  - changed-files:
    - any-glob-to-any-file: "onboarding-manager/**"

tinker-actions:
  - changed-files:
    - any-glob-to-any-file: "tinker-actions/**"
