Repository open-edge-platform/infra-onboarding, changes with the labels that .github/labeler.yml gives for each.
All labels: CI ðŸ¤–, root, dkam, hook-os, onboarding-manager, tinker-actions

Remove TLS for internal localhost interfaces in caddy (#217)
  hook-os/Makefile
  hook-os/README.md
  hook-os/build_hookos.sh
  hook-os/caddy/Caddyfile
  hook-os/caddy/Dockerfile
  hook-os/caddy/build.sh
  hook-os/fluent-bit/files/fluent-bit.yaml
  hook-os/hook.yaml
Labels: hook-os

Release hookOS, OM, TinkerAction (#228)
  hook-os/VERSION
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  tinker-actions/VERSION
Labels: hook-os, onboarding-manager, tinker-actions

resolved lint issues
  onboarding-manager/internal/onboarding/workflow.go
  onboarding-manager/internal/onboarding/workflow_test.go
Labels: onboarding-manager

added host field in instrumentation logs
  onboarding-manager/internal/onboarding/workflow.go
  onboarding-manager/internal/onboarding/workflow_test.go
Labels: onboarding-manager

handled review comment
  onboarding-manager/internal/onboarding/workflow.go
Labels: onboarding-manager

.github/labeler.yml:

# SPDX-FileCopyrightText: (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

CI ðŸ¤–:
  - changed-files:
      - any-glob-to-any-file: ".github/**"

root:
  - changed-files:
      - any-glob-to-any-file: "*"

dkam:
  - changed-files:
    - any-glob-to-any-file: "dkam/**"

hook-os:
  - changed-files:
    - any-glob-to-any-file: "hook-os/**"

onboarding-manager:
  - changed-files:
    - any-glob-to-any-file: "onboarding-manager/**"

tinker-actions:
  - changed-files:
    - any-glob-to-any-file: "tinker-actions/**"
