Repository open-edge-platform/infra-onboarding, pull requests merged in 2025-05, with the labels that each got.

#72 License and OpenSSF badges
  README.md
Labels: root

#74 Fixing permissions to increment the openSSF scorecard
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-dkam.yaml
  .github/workflows/post-merge-hook-os.yaml
  .github/workflows/post-merge-onboarding-manager.yaml
  .github/workflows/post-merge-tinker-actions.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#44 fix: address trivy scan reports for hookOS
  .github/workflows/pre-merge.yml
  hook-os/.trivyignore
  hook-os/fluent-bit/Dockerfile
  hook-os/hook/images/hook-bootkit/Dockerfile
  hook-os/hook/images/hook-bootkit/go.mod
  hook-os/hook_dind/Dockerfile
  hook-os/trivy.yaml
Labels: hook-os, CI 🤖

#67 chore: Bump minor dev version
  dkam/VERSION
  hook-os/VERSION
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  tinker-actions/VERSION
Labels: dkam, onboarding-manager, tinker-actions, hook-os

#52 chore: Remove ECR create repository from Makefile
  common_go.mk
  hook-os/Makefile
  tinker-actions/Makefile
Labels: tinker-actions, hook-os, root

#75 chore: Remove trivy flags handled by GHA
  onboarding-manager/trivy.yaml
  tinker-actions/trivy.yaml
Labels: onboarding-manager, tinker-actions

#61 chore: Remove useless GOPRIVATE and Token
  .github/dependabot.yml
  common_go.mk
  hook-os/device_discovery/build.sh
Labels: dkam, onboarding-manager, tinker-actions, hook-os, CI 🤖, root

#71 Add buf breaking check against breaking changes in SB API
  common_go.mk
  onboarding-manager/Makefile
  onboarding-manager/api/buf.yaml
Labels: onboarding-manager, root

#42 chore: Remove hook-os/hook/.github files that are not useful
  hook-os/hook/.github/dependabot.yml
  hook-os/hook/.github/mergify.yml
  hook-os/hook/.github/workflows/build-all-matrix.yaml
Labels: hook-os

#11 chore: Update requirements.txt and move to REUSE.toml
  .reuse/dep5
  REUSE.toml
  dkam/.reuse/dep5
  dkam/REUSE.toml
  dkam/requirements.txt
  hook-os/.reuse/dep5
  hook-os/REUSE.toml
  hook-os/requirements.txt
  onboarding-manager/.reuse/dep5
  onboarding-manager/REUSE.toml
  onboarding-manager/requirements.txt
  tinker-actions/.reuse/dep5
  tinker-actions/REUSE.toml
  tinker-actions/requirements.txt
Labels: dkam, onboarding-manager, tinker-actions, hook-os, CI 🤖, root

#79 chore: fix post merge permissions
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/auto-update.yml
  .github/workflows/post-merge-dkam.yaml
  .github/workflows/post-merge-hook-os.yaml
  .github/workflows/post-merge-onboarding-manager.yaml
  .github/workflows/post-merge-tinker-actions.yaml
  .github/workflows/pre-merge.yml
  requirements.txt
Labels: CI 🤖, root

#40 [ITEP-27349] Adds buffered chan in event of inventory client in OM
  onboarding-manager/internal/handlers/controller/controller.go
  onboarding-manager/internal/invclient/invclient.go
Labels: dkam, onboarding-manager, tinker-actions, CI 🤖

#81 Drop TLS on caddy internal endpoint
  dkam/pkg/curation/curation.go
  dkam/pkg/script/Installer
  dkam/testing/testing_utils.go
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: dkam, onboarding-manager

#86 chore: bump workflows and set auto update
  .github/dependabot.yml
  .github/workflows/post-merge-dkam.yaml
  .github/workflows/post-merge-hook-os.yaml
  .github/workflows/post-merge-onboarding-manager.yaml
  .github/workflows/post-merge-tinker-actions.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#85 Add documentation for Full Disk Encryption (FDE) and DM-Verity
  tinker-actions/src/fde_dmv/emt_fde_dmv.md
Labels: tinker-actions

#90 chore: Release Onboarding Manager v1.35.0 and DKAM v1.28.0
  dkam/VERSION
  onboarding-manager/VERSION
Labels: dkam, onboarding-manager

#82 fix: set host status to "rebooting" after successful provisioning
  onboarding-manager/VERSION
  onboarding-manager/internal/handlers/controller/reconcilers/instance.go
  onboarding-manager/internal/invclient/invclient.go
  onboarding-manager/internal/onboarding/workflow.go
  onboarding-manager/internal/util/util.go
  onboarding-manager/pkg/status/status.go
Labels: onboarding-manager

#83 Enable sftp server in EdgeNode ssh service [ITEP-65649]
  onboarding-manager/VERSION
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
Labels: onboarding-manager

#93 fix: sync file system before e2fsck in multi-drive scenario
  tinker-actions/src/kernelupgrd/kernel_upgrade.sh
Labels: tinker-actions

#92 Retain registry vars for backward compatibility with older OSProfiles
  dkam/VERSION
  dkam/pkg/curation/curation.go
  dkam/testing/testing_utils.go
  onboarding-manager/VERSION
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
Labels: dkam, onboarding-manager

#94 chore: sort zizmor findings
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#95 chore: fix missed zizmor findings
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#97 Releases onboarding components with inventory v2.25.0
  dkam/VERSION
  dkam/go.mod
  dkam/go.sum
  hook-os/VERSION
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  onboarding-manager/internal/handlers/controller/reconcilers/host_test.go
  onboarding-manager/internal/handlers/controller/reconcilers/instance_test.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server_test.go
  tinker-actions/VERSION
Labels: dkam, onboarding-manager, tinker-actions, hook-os

#102 Releases onboarding manager with updated cross deps
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
Labels: onboarding-manager

#106 Bump OM and DKAM version
  dkam/VERSION
  onboarding-manager/VERSION
Labels: dkam, onboarding-manager
