Repository open-edge-platform/infra-onboarding, pull requests merged in 2025-04, with the labels that each got.

#39 fix: address trivy scan results
  tinker-actions/.trivyignore
  tinker-actions/VERSION
  tinker-actions/src/efibootset/Dockerfile
  tinker-actions/src/fde_dmv/Dockerfile
  tinker-actions/trivy.yaml
Labels: tinker-actions, CI 🤖

#49 fix: ensure pre-merge is passed before setting PR green
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#50 chore: Pinpoint sha of 3rd party github actions
  .github/workflows/auto-add-labels.yml
  .github/workflows/auto-close.yml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#56 chore: Remove deprecated GHA workflow steps
  .github/workflows/post-merge-dkam.yaml
  .github/workflows/post-merge-hook-os.yaml
  .github/workflows/post-merge-onboarding-manager.yaml
  .github/workflows/post-merge-tinker-actions.yaml
  .github/workflows/pre-merge.yml
Labels: CI 🤖

#53 Fix Kernel version to linux-image-6.8.0-52-generic
  tinker-actions/src/kernelupgrd/kernel_upgrade.sh
Labels: tinker-actions

#55 apt update before agent install
  dkam/VERSION
  dkam/pkg/script/Installer
  onboarding-manager/VERSION
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: dkam, onboarding-manager

#57 fix: rectify the push target paths
  tinker-actions/Makefile
Labels: tinker-actions

#64 hook_dind trivy fix
  hook-os/hook_dind/Dockerfile
Labels: hook-os

#65 feat: Add contributors file
  .github/CODEOWNERS
  CONTRIBUTORS.md
Labels: CI 🤖, root

#69 fix: Properly configure CODEOWERS
  .github/CODEOWNERS
Labels: CI 🤖
