Repository open-edge-platform/infra-onboarding, pull requests merged in 2025-07, with the labels that each got.

#132 Persist custom configs during provision
  dkam/.golangci.yml
  dkam/VERSION
  onboarding-manager/.golangci.yml
  onboarding-manager/REUSE.toml
  onboarding-manager/VERSION
  onboarding-manager/docs/cloud-init-os-compatibility.md
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  onboarding-manager/internal/handlers/controller/reconcilers/instance_test.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server_test.go
  onboarding-manager/internal/onboarding/types/types.go
  onboarding-manager/internal/onboarding/workflow.go
  onboarding-manager/internal/onboarding/workflow_test.go
  onboarding-manager/internal/tinkerbell/status.go
  onboarding-manager/internal/tinkerbell/template_data.go
  onboarding-manager/internal/tinkerbell/templates/microvisor.yaml
  onboarding-manager/internal/tinkerbell/templates/ubuntu.yaml
  onboarding-manager/pkg/cloudinit/99_infra.cfg
  onboarding-manager/pkg/cloudinit/generate.go
  onboarding-manager/pkg/cloudinit/generate_test.go
  onboarding-manager/pkg/cloudinit/infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-13.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-14.cfg
  onboarding-manager/pkg/platformbundle/README.md
Labels: dkam, onboarding-manager

#158 Fix : No custom cloud init action when no configs
  onboarding-manager/VERSION
  onboarding-manager/internal/tinkerbell/template_data.go
Labels: onboarding-manager

#157 Increase rootfs
  tinker-actions/VERSION
  tinker-actions/src/fde_dmv/enable_dmv_emt.sh
Labels: tinker-actions

#166 Update Inventory dep to v2.28.1
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  onboarding-manager/internal/invclient/invclient_test.go
Labels: onboarding-manager

#167 Update CODEOWNERS
  .github/CODEOWNERS
Labels: CI 🤖

#191 Revert "Install PMA with its dependencies lms and rpc"
  dkam/VERSION
  dkam/pkg/config/config.go
  dkam/pkg/curation/curation.go
  dkam/testing/testing_utils.go
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/pkg/cloudinit/99_infra.cfg
  onboarding-manager/pkg/cloudinit/generate_test.go
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: dkam, onboarding-manager

#205 Wait for DHCP to assign IP before triggering device-discovery
  dkam/VERSION
  dkam/pkg/script/uos/cpio_build/etc/ip-assignment/wait_for_ip.sh
  dkam/pkg/script/uos/cpio_build/update_initramfs.sh
Labels: dkam

#183 Update KPI reporting and fix Multiple Network driver edge case
  dkam/VERSION
  dkam/pkg/script/uos/cpio_build/etc/ip-assignment/wait_for_ip.sh
  dkam/pkg/script/uos/cpio_build/etc/kpi-instrumentation/report_boot_statistics.sh
  dkam/pkg/script/uos/cpio_build/update_initramfs.sh
Labels: dkam, 3.1-RC2

#207 Bump OM version
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  onboarding-manager/pkg/cloudinit/99_infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: onboarding-manager, 3.1-RC2

#179 Added dhcp-identifier: mac to fix DHCP address assignment issue
  onboarding-manager/VERSION
  onboarding-manager/pkg/cloudinit/99_infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-13.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-14.cfg
Labels: dkam, onboarding-manager, tinker-actions, CI 🤖

#214 EMF: FDE: Possible fix for incorrect sector sizes
  tinker-actions/VERSION
  tinker-actions/src/fde_dmv/enable_dmv_emt.sh
  tinker-actions/src/fde_dmv/enable_fde_emt.sh
Labels: tinker-actions
