Repository open-edge-platform/infra-onboarding, pull requests merged in 2025-06, with the labels that each got.

#116 chore: add secret for teams notification
  .github/workflows/post-merge-dkam.yaml
  .github/workflows/post-merge-hook-os.yaml
  .github/workflows/post-merge-onboarding-manager.yaml
  .github/workflows/post-merge-tinker-actions.yaml
Labels: CI 🤖

#123 refactor: Merge system configuration actions in Ubuntu workflow
  onboarding-manager/VERSION
  onboarding-manager/internal/tinkerbell/status.go
  onboarding-manager/internal/tinkerbell/template_data.go
  onboarding-manager/internal/tinkerbell/templates/ubuntu.yaml
Labels: onboarding-manager

#109 Resize partitions for Virtual Edge Node with DM-Verity support
  tinker-actions/VERSION
  tinker-actions/src/fde_dmv/README.md
  tinker-actions/src/fde_dmv/enable_dmv_emt.sh
Labels: tinker-actions

#138 fix: post-merge jobs
  .github/workflows/post-merge-dkam.yaml
  .github/workflows/post-merge-hook-os.yaml
  .github/workflows/post-merge-pxe-server.yaml
  .github/workflows/post-merge-tink-worker.yaml
  .github/workflows/post-merge-tinker-actions.yaml
Labels: CI 🤖

#141 upgrade go version to fix CVE
  onboarding-manager/Dockerfile
  onboarding-manager/go.mod
  version.mk
Labels: onboarding-manager, root

#133 [onboarding-manager<->device discovery]Node Onboarding without SN
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server_test.go
Labels: onboarding-manager, root

#149 updated dkam version and inventory dep
  .github/workflows/post-merge-dkam.yaml
  .github/workflows/pre-merge.yml
  dkam/Dockerfile
  dkam/VERSION
  dkam/go.mod
  dkam/go.sum
Labels: dkam, CI 🤖

#151 Updated inventory dep v2.26.3 in om and dkam
  dkam/VERSION
  dkam/go.mod
  dkam/go.sum
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  onboarding-manager/go.sum
  onboarding-manager/internal/handlers/controller/reconcilers/instance_test.go
  onboarding-manager/internal/handlers/southbound/grpcserver/grpc_server_test.go
Labels: dkam, onboarding-manager
