Repository open-edge-platform/infra-onboarding, pull requests merged in 2025-08, with the labels that each got.

#219 Fix for Storage Cleanup and Boot Entry Not Automatically Handled with EMT OS
  onboarding-manager/VERSION
  onboarding-manager/pkg/cloudinit/99_infra.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-01.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-02.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-03.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-04.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-05.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-06.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-07.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-08.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-09.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-10.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-11.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-12.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-13.cfg
  onboarding-manager/pkg/cloudinit/testout/expected-installer-14.cfg
Labels: onboarding-manager

#218 Fix Security scan issues
  .github/workflows/pre-merge.yml
  tinker-actions/.trivyignore
  tinker-actions/VERSION
  tinker-actions/src/cexec/Dockerfile
  tinker-actions/src/efibootset/Dockerfile
  tinker-actions/src/fde_dmv/Dockerfile
  tinker-actions/src/image2disk/Dockerfile
  tinker-actions/src/qemu_nbd_image2disk/Dockerfile
  tinker-actions/src/securebootflag/Dockerfile
  tinker-actions/src/writefile/Dockerfile
Labels: tinker-actions, CI 🤖

#229 Updates to deps for CVEs
  dkam/.trivyignore
  dkam/VERSION
  hook-os/.trivyignore
  hook-os/VERSION
  hook-os/hook/images/hook-bootkit/Dockerfile
  hook-os/hook/images/hook-bootkit/go.mod
  hook-os/hook/images/hook-bootkit/go.sum
  onboarding-manager/.trivyignore
  onboarding-manager/VERSION
Labels: dkam, onboarding-manager, hook-os

#238 Build and install lms from source
  onboarding-manager/VERSION
  onboarding-manager/pkg/platformbundle/ubuntu-22.04/Installer
Labels: onboarding-manager

#230 [onboarding-manager and dkam]Upgrade go version to fix CVE in the Go standard library
  dkam/.trivyignore
  dkam/Dockerfile
  dkam/VERSION
  dkam/go.mod
  onboarding-manager/Dockerfile
  onboarding-manager/VERSION
  onboarding-manager/go.mod
  version.mk
Labels: dkam, onboarding-manager, root
